<aside class="sidebar">
  <div class="title-text">COMMON CORE</div>

  <nav>
    <a
      href="/admin/dashboard"
      class="<%= active === 'dashboard' ? 'active' : '' %>"
    >
      <i class="fa fa-chart-line"></i> Dashboard
    </a>

    <a href="/admin/users" class="<%= active === 'users' ? 'active' : '' %>">
      <i class="fa fa-users"></i> Users
    </a>
    <a
      href="/admin/products"
      class="<%= active === 'products' ? 'active' : '' %>"
    >
      <i class="fa fa-box"></i> Products
    </a>

    <a href="/admin/orders" class="<%= active === 'orders' ? 'active' : '' %>">
      <i class="fa fa-list"></i> Orders
    </a>

    <a
      href="/admin/coupons"
      class="<%= active === 'coupons' ? 'active' : '' %>"
    >
      <i class="fa fa-tags"></i> Coupons
    </a>

    <a
      href="/admin/settings"
      class="<%= active === 'settings' ? 'active' : '' %>"
    >
      <i class="fa fa-gear"></i> Settings
    </a>
  </nav>

  <div class="logout">
    <a href="/admin/logout"> <i class="fa fa-sign-out"></i> Logout </a>
  </div>
</aside>
