<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/css/admin/global.css">
  <link rel="stylesheet" href="/css/admin/logout-modal.css">
  <link rel="stylesheet" href="/css/admin/layout.css">
  <link rel="stylesheet" href="/css/admin/users.css">
</head>

<body>

  <!-- HEADER -->
  <%- include("./partials/header", { title: "Users" }) %>

  <div class="layout">

    <!-- SIDEBAR -->
    <%- include("./partials/sidebar", { active: "users" }) %>
    <%- include("./partials/logout-modal") %>

    <!-- MAIN -->
    <div class="main">
      
      
      <div class="content">
          <div class="page-top">
          
          <div>
            <p class="breadcrumb">
              Admin Dashboard > Users
            </p>
            <h2 class="page-title">User Management</h2>
          </div>
        </div>

         <div class="stats-grid">
          <div class="stat-card">
            <div class="stat-top">
              <p>Total Users</p>
              <i class="fa-solid fa-users"></i>
            </div>

            <h3><%=totalUsers%></h3>
          </div>

          <div class="stat-card">
            <div class="stat-top">
              <p>Active Users</p>
              <i class="fa-solid fa-user-check"></i>
            </div>

            <h3><%=activeUsers%></h3>
          </div>

          <div class="stat-card">
            <div class="stat-top">
              <p>Blocked Users</p>
              <i class="fa-solid fa-user-slash"></i>
            </div>

            <h3><%=blockedUsers%></h3>
          </div>


        </div>
            
            
            
            
            
            <div class="table-container">
              <div class="table-header">
                <h3>Users</h3>

  <form method="GET" action="/admin/users" class="sort-toggle">
    
    <input type="hidden" name="search" value="<%= search %>">
    <input type="hidden" name="page" value="<%= currentPage %>">
    
    <button
    type="submit"
    name="sort"
    value="latest"
    class="sort-btn <%= sort === 'latest' ? 'active' : '' %>"
    >
    <i class="fa-solid fa-arrow-down-wide-short"></i>
    Latest
  </button>
  
  <button
  type="submit"
  name="sort"
  value="oldest"
  class="sort-btn <%= sort === 'oldest' ? 'active' : '' %>"
  >
  <i class="fa-solid fa-arrow-up-wide-short"></i>
  Oldest
</button>

</form>
   <form method="GET" action="/admin/users" class="search-box">  <!--//search -->
     <input 
         type="text" 
         name="search" 
         placeholder="Search by name..."
         value="<%= search %>"
     >
     <button type="submit" class="search-btn">
                <i class="fa fa-search"></i>
              </button>
     <%if(search){%>
     <a href="/admin/users" class="clear-btn">Clear</a>
   
     <%}%>
   </form>
   </div>

 <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Joined</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% users.forEach(user => { %>
      <tr>
        <td><%= user.name || "N/A" %></td>
        <td><%= user.email %></td>

        <!-- STATUS -->
        <td>
          <span class="status <%= user.isBlocked ? 'blocked' : 'active' %>">
            <%= user.isBlocked ? "Blocked" : "Active" %>
          </span>
        </td>

        <!-- JOINED DATE -->
        <td>
          <%= new Date(user.createdAt).toLocaleDateString("en-IN", {
            day: "2-digit",
            month: "short",
            year: "numeric"
          }) %>
        </td>

        <!-- ACTION -->
        <td>
          <form method="POST" action="/admin/users/toggle-block/<%= user._id %>">
            <button
            type="button" 
            class="btn <%= user.isBlocked ? 'unblock' : 'block' %>"
            onclick="openModal('<%=user._id%>',<%=user.isBlocked%>)"
            >
              <%= user.isBlocked ? "Unblock" : "Block" %>
            </button>
          </form>
        </td>

      </tr>
    <% }) %>
  </tbody>
</table>
            <form id="blockForm" method="POST">     <!-- dummy form to submit data form frontend -->
            </form>

            <div id="confirmModal" class="modal">
            <div class="modal-box">
                <h3 id="modalTitle">Confirm Action</h3>
                <p id="modalText"></p>

                <div class="modal-actions">
                <button onclick="closeModal()" class="cancel-btn">Cancel</button>
                <button onclick="confirmAction()" class="confirm-btn">Yes</button>
                </div>
            </div>
            </div>

          
            
            <!-- PREV -->
            <div class="pagination">
              <p class="results-text">
              Showing 
              <%= (currentPage - 1) * limit + 1 %> 
              to 
              <%= Math.min(currentPage * limit, totalUsers) %> 
              of 
              <%= totalUsers %> 
              results
              </p>
            <% if (currentPage > 1) { %>
                <a 
                href="/admin/users?page=<%= currentPage - 1 %>&search=<%= search %>&sort=<%=sort%>" 
                class="nav-btn"
                >
                Prev
                </a>
            <% } else { %>
                <span class="nav-btn disabled">Prev</span>
            <% } %>

            <!-- PAGE NUMBERS -->
            <% for (let i = 1; i <= totalPages; i++) { %>
                <a 
                href="/admin/users?page=<%= i %>&search=<%= search %>&sort=<%=sort%>" 
                class="page-btn <%= currentPage === i ? 'active' : '' %>"
                >
                <%= i %>
                </a>
            <% } %>

            <!-- NEXT -->
            <% if (currentPage < totalPages) { %>
                <a 
                href="/admin/users?page=<%= currentPage + 1 %>&search=<%= search %>&sort=<%=sort%>" 
                class="nav-btn"
                >
                Next
                </a>
            <% } else { %>
                <span class="nav-btn disabled">Next</span>
            <% } %>
            </div>

             
        </div>

      </div>

    </div>

  </div>

  <script src="/js/admin/logout.js"></script>
  <script src="/js/admin/users.js"></script>

</body>
</html>