<!DOCTYPE html>
<html>

<head>

  <title>My Account</title>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  >

  <link rel="stylesheet" href="/css/user/profile.css">
  <link rel="stylesheet" href="/css/user/style.css">
  <link rel="stylesheet" href="/css/user/global.css">
  <link rel="stylesheet" href="/css/user/toast.css">

</head>

<body>

  <%- include("../partials/header") %>

  <div class="account-container">

    <%- include("../partials/sidebar", { active: "profile" }) %>

    <div class="main-content">

      <!-- PAGE HEADER -->

      <div class="page-header">

        <h2 class="page-title">
          MY ACCOUNT
        </h2>

        <a
          href="/user/profile/edit"
          class="edit-btn"
        >
          <i class="fa-regular fa-pen-to-square"></i>
          Edit Profile
        </a>

      </div>


      <!-- PROFILE BANNER -->

      <div class="profile-banner">

        <div class="profile-banner-left">

          <img
            src="<%= user.profileImage || '/images/default.png' %>"
            alt="profile"
          >

          <div class="profile-user">

            <span class="welcome-text">
              Welcome Back
            </span>

            <h3>
              <%= user.name %>
            </h3>

            <p>
              <%= user.email %>
            </p>

          </div>

        </div>

      </div>


      <!-- DETAILS -->

      <div class="account-details-card">

        <div class="section-title">

          <h3>
            Account Information
          </h3>

        </div>


        <div class="info-grid">

          <div class="info-item">

            <span>
              Full Name
            </span>

            <h4>
              <%= user.name %>
            </h4>

          </div>


          <div class="info-item">

            <span>
              Email Address
            </span>

            <h4>
              <%= user.email %>
            </h4>

          </div>


          <div class="info-item">

            <span>
              Phone Number
            </span>

            <h4>
              <%= user.phone || "Not added" %>
            </h4>

          </div>

        </div>

      </div>

    </div>

  </div>

  <script src="/js/user/logout.js"></script>
  <script src="/js/utils/toast.js"></script>

</body>

</html>